{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>OA办公管理系统</title>
	<!-- 引入JQuery -->
    <script type="text/javascript" src='{% static "easyui/jquery.min.js" %}'></script>
    <!-- 引入EasyUI -->
    <script type="text/javascript" src='{% static "easyui/jquery.easyui.min.js" %}'></script>
    <!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
    <script type="text/javascript" src='{% static "easyui/locale/easyui-lang-zh_CN.js" %}'></script>
    <!-- 引入EasyUI的样式文件-->
    <link rel="stylesheet" href='{% static "easyui/themes/default/easyui.css" %}' type="text/css"/>
    <!-- 引入EasyUI的图标样式文件-->
   	<link rel="stylesheet" href='{% static "easyui/themes/icon.css" %}' type="text/css"/>
   	<link rel="stylesheet" href='{% static "css/default.css" %}' type="text/css">
   	<!-- 引入ajax -->
    <script type="text/javascript" src='{% static "js/csrf_token.js" %}'></script>
   	<style type="text/css">
		#dlg td>input{
		   border:1px solid #95B8E7;
		   border-radius: 5px;
		   box-sizing: content-box;
		   width: 150px;
		   height: 25px;
		   margin-top: 20px;
		   vertical-align: middle;
		}
		#dlg td{
		   	padding-top: 10px;
		 	padding-left: 10px;
		 	width: 100px;
		 	height: 25px;
		}
		h3{
			color: #999;
		}
		#hidden{
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(255,255,255,.5);
			display: none;
			width: 100%;
			height: 100%;
		}
   	</style>
</head>
<body>
	<table id='section_list'>
	</table>
	<div id="toolbar">
	    <a href="#" id='add' class="easyui-linkbutton" iconCls="icon-add" plain="true" >增加</a>
	    <a href="#" id='update' class="easyui-linkbutton" iconCls="icon-edit" plain="true" >修改</a>
	    <a href="#" id='delete' class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
<!-- 	    <input type="text" id='name' name="queryname" placeholder="请输入姓名" />
	    <input id='query' type="button" value='查询'> -->
	</div>
	<div id='hidden'>
		<div id='dlg' class='easyui-dialog  dd' style='width:400px;height:300px;padding:10px 20px; ' closed='true' buttons='#dlg-buttons'>
			<div class="ftitle"><h3>部门信息</h3></div>
			<hr> 
			<form id='fm' method='post'>
				{% csrf_token %}
				<table id='table'>		
					<tr>
						<input id='sid' type="text" name="section_id" hidden>
						<td>部门名称:</td>
						<td><input id='section_name' type="text" name="section_name"></td>
					</tr>
					<tr>
						<td>备注:</td>
						<td><input id='section_remarks' type="text" name="section_remarks"></td>
					</tr>
				</table>
			</form>
		</div>
		<div id="dlg-buttons">
			<a href='#' class="easyui-linkbutton" iconCls="icon-ok">提交</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#fm input,select,textarea').val('')">重置</a>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#section_list').datagrid({
				title:'部门列表', 
				iconCls:'icon-section',//图标 
				border: true, 
				collapsible:false,//是否可折叠的 
				fit: true,//自动大小 
				idField:'id', 
				singleSelect:true,//是否单选 
				pagination:true,//分页控件 
				rownumbers:true,//行号 
				// sortName:'id',
				// sortOrder:'DESC', 
				remoteSort: false,
				toolbar: '#toolbar',
				columns: [[ 
					{field:'chk',checkbox: true,width: 80, align:'center'},
					{field:'section_id',title:'部门ID',width:120, align:'center', hidden:'true'},
					{field:'section_name',title:'部门名称', width: 120, align:'center'},
					{field:'section_num',title:'部门人数',width:120, align:'center'},
					{field:'section_remarks', title:'备注',width:120,align:'center'}
				]],	
				method: 'get',
				url: '/getsection/',			
			});
			//增加部门信息
			$('#add').click(
				function(){
				$('#hidden').css({
					'display': 'block',
				});
				$('#dlg').dialog({
					title: '新增部门',
		    		onClose:function(){
		     			$('#addsubmit').unbind();
		     			$('#hidden').css({
							'display': 'none',
						});
		    		}
	    		});
				$('#dlg').dialog('open');
				$('#fm').form('clear');
				$('#dlg-buttons a:first-child').attr('id','addsubmit');
				$('#addsubmit').on('click',
				function(){
					save('/addsection/', {
						csrfmiddlewaretoken: '{{ csrf_token }}',
						'section_name': $('#section_name').val(),
						'section_remarks': $('#section_remarks').val(),
					});
				});	
			});
			//修改部门信息
			$('#update').click(
				function(){
					var row = $('#section_list').datagrid('getSelected');
					if(row){
						$('#hidden').css({
							'display': 'block',
						});
						$('#dlg').dialog({
							title: '修改部门',
				    		onClose:function(){
				     			$('#updsubmit').unbind();
				     			$('#hidden').css({
									'display': 'none',
								});
		    				}
	    				});
						$('#dlg').dialog('open');
						$('#fm').form('load',row);
						$('#dlg-buttons a:first-child').attr('id','updsubmit');
						$('#updsubmit').on('click',
							function(){
							save('/updsection/', $('#fm').serialize());
						});
					}else{
						alert('亲，你没选择修改的数据哦！');
					}
			});
			//删除部门信息
			$('#delete').click(function(){
				var row = $('#section_list').datagrid('getSelected');
				if(row){
					save('/delsection/', {csrfmiddlewaretoken: '{{ csrf_token }}',
						"section_id":row.section_id});
				}else{
					alert('亲，你没选择修改的数据哦！');
				}

			})
			/*提交表单*/
			function save(urls, record){
				if(window.confirm('确定提交？')){
					$.ajax({
						type:'POST',
						url: urls,
						data: record,
						dataType: "text",
	            		success: function(data){
	              			alert(data);
	             			location.href = '{% url 'showsection' %}';
	            		}
					});
				}else{
					return
				}
			}
		});

	</script>
</body>
</html>